*
{
    margin:0;
    padding: 0;
}
.navbar
{
    width: 100%;
    margin-top: 10px;
    position: fixed;
    opacity: 0.6;
    z-index: 1000;
    justify-content: space-between;
    background-color: orange;
}
.nav-item
{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-brand
{
    padding-top: 10px;
    animation: ani 1s linear infinite;
}
a
{
    text-decoration: none;
}
@keyframes ani 
{
    0%
    {
        color: black;
    }
    20%
    {
         color: red;
    }
    40%
    {
         color: yellow;
    }
    80%
    {
         color: yellowgreen;
    }
    100%
    {
         color: hotpink;
    }
}
#navbarNavDropdown
{
	margin-left: 450px;
}
#menuactive.active
{
    color: red;
    transition: all 0.7s linear;
    border-bottom: 1px solid black;
    background: whitesmoke;
    border-radius: 5px;
    opacity: 0.9;
}
.navbar-nav
{
    gap: 5px;
    margin-right:700px;
}
.nav-link:hover
{
    color: blue;
    transition: all 0.7s linear;
    border-bottom: 1px solid black;
    background: whitesmoke;
    border-radius: 5px;
    opacity: 0.9;
}
.bannerimg
{
    width: 100%;
    height: 400px;
    padding-top: 100px;
}
.containt
{
    width: 40%;
    margin-top: 10px;
    background-color: skyblue;
    border-radius: 20px;
    position: relative;
    left: 350px;
   
}
.containtcard
{
    background-color: lightblue;
    border-radius: 20px;
    background: url('../img/form.jpg');
}
.info
{
    text-align: center;
}
.cardinfo
{
    padding-bottom: 200px;
}
.cardinfo img
{
    width: 40px;
    float: left;
    margin-left: 20px;
}
.cardinfo p
{
    padding-top: 10px;
}
.contact_form
{
    position: relative;
    top: -350px;
    left: 380px;
    background-color: skyblue;
    display: none;
    border: 1px solid black;
    border-radius: 20px;
    width:400px;
    opacity: 0.6;
}
.contact_form h2
{
    text-decoration: underline;
    text-align: center;
}
form
{
    padding: 40px;
}
img
{
    margin-left: 20px;
    width: 30px;
}
input
{
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
}
.btn
{
    margin-left: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: blue;
    color: white;
}
.btn:hover
{
    box-shadow: 1px 1px 1px 2px black;
     margin-left: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: blue;
    color: white;
}